<div class="flex items-center justify-center h-screen">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5 mx-auto my-auto w-full max-w-[300px] p-5">
    <div class="text-3xl text-center">Connexion</div>
    <div class="">
      <label>
        <div class="text-gray-500 text-sm">Nom d'utilisateur</div>
        <input
          type="text"
          class="w-full border border-slate-300 rounded-md py-2 px-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          formControlName="username"
        />
      </label>
    </div>
    <div class="">
      <label>
        <div class="text-gray-500 text-sm">Mot-de-passe</div>
        <input
          type="password"
          class="w-full border border-slate-300 rounded-md py-2 px-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          formControlName="password"
        />
      </label>
    </div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      [disabled]="!loginForm.valid"
    >
      Se connecter
    </button>
  </form>
</div>
