<div class="flex items-center justify-center h-screen">
    <app-navbar></app-navbar>
    <main class="mt-16 py-3 px-5">
        <div class="flex flex-col gap-5 w-full p-5">
            <div class="flex flex-col gap-3 p-5">
                <h1 class="text-4xl font-bold mx-auto">
                    Bienvenue sur le site
                </h1>
                <h1 class="text-5xl font-bold mx-auto text-blue-500">
                    PonyRacer
                </h1>
                <div class="mx-auto">
                    <img src="assets/images/pony.svg" width="150">
                </div>
            </div>
        </div>
    </main>
</div>
